extends layout

block content
    .pb-2.mt-2.mb-4.border-bottom
        h1 Projects
    hr
    for project in projects
        .row
            .border.border-5.rounded-lg.p-4.bg-dark
                h2 #{project.title}
                p #{project.description}
                p
                    strong Mentor name:
                    |        #{project.mentor}
                p
                    a.btn.btn-raised(style='margin-right:16px', href=project.url, role='button') Project URL »
                            
                    a.btn.btn-raised(style='margin-right:16px', href=project.chat, role='button') Chat »
